<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".MyApplication"

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoxd"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoxd"
        android:supportsRtl="true"
        android:theme="@style/Theme.SonrisaSaludable"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDPEzq6U9-c-f27g7TdgnZrobNnrvePIKQ" />

        <activity
            android:name=".actividades.MenuDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.MenuAdminActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.DetalleDentistaActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.ReciboActivity"
            android:exported="false"
            android:label="@string/title_activity_recibo"
            android:theme="@style/Theme.SonrisaSaludable" />
        <activity
            android:name=".actividades.MenuUserActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.SesionActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.CargaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>